  
services:

  frontend:
    build:
      context: ./front/
      dockerfile: Dockerfile
    ports:
      - "5173:4173"
    networks:
      - servicos_rede-nginx

  api:
    build:
      context: ./api/
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    networks:
      - servicos_rede-nginx


networks:
  servicos_rede-nginx:
    external: true