  
services:

  frontend:
    build:
      context: ./front/
      dockerfile: Dockerfile
    ports:
      - "5173:4173"
    networks:
      - servicos_rede-nginx

  api:
    build:
      context: ./api/
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
      - ASPNETCORE_URLS=http://+:5000
      - POSTGRES_HOST=db
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    networks:
      - servicos_rede-nginx

  db:
    image: postgres:16
    container_name: postgres
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - servicos_rede-nginx
    volumes:
      - ./data/postgres:/var/lib/postgresql/data


networks:
  servicos_rede-nginx:
    external: true