  
services:
  frontend:
    build:
      context: ./
      dockerfile: Dockerfile
    ports:
      - "5173:4173"
    networks:
      - servicos_rede-nginx


networks:
  servicos_rede-nginx:
    external: true